body {
  background-color: #000;
  font-family: "Segoe UI", sans-serif;
  color: #eeeeeef1;
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0 10px 10px;
}

#heading p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#btn-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  background-color: #f3f3f3;
  color: #111;
  border: 1px solid #ccc;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background 0.2s ease;
}

.btn:hover {
  background-color: #e2e2e2;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #666;
}
